.idea
node_modules
logs

*.cmd
*.ps1
concurrently
detect-libc
is-ci
json5
mime
mkdirp
needle
node-pre-gyp
nodemon
nodetouch
nopt
rc
rimraf
semver
tree-kill
uuid
client/acorn
client/ansi-html
client/atob
client/autoprefixer
client/babylon
client/browserslist
client/css-blank-pseudo
client/css-has-pseudo
client/css-prefers-color-scheme
client/cssesc
client/detect
client/detect-port
client/errno
client/escodegen
client/esgenerate
client/eslint
client/eslint-config-prettier-check
client/esparse
client/esvalidate
client/he
client/html-minifier-terser
client/import-local-fixture
client/in-install
client/in-publish
client/is-docker
client/jest
client/jest-runtime
client/js-yaml
client/jsesc
client/loose-envify
client/miller-rabin
client/multicast-dns
client/node-gyp
client/node-sass
client/not-in-install
client/not-in-publish
client/parser
client/prettier
client/react-scripts
client/regjsparser
client/sane
client/sassgraph
client/sha.js
client/sshpk-conv
client/sshpk-sign
client/sshpk-verify
client/svgo
client/terser
client/watch
client/webpack
client/webpack-dev-server
client/which
