label {
  font: 16px/28px "Roboto";
  color: #595959;
}

.state { 
  &-label {
    width: 100%; 
    display: block;
  }

  &-text {
    padding-left: 0;
    color: #595959 !important;

    &__state-published {
      color: #52c41a !important;
    }
  }
}