@import '../../index.scss';
.AddRequirement {
  background-color: $color-gray;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  margin-bottom: 10px;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    &--input,
    &--textarea {
      height: 32px;
      padding: 4px 11px;
      box-sizing: content-box;
      outline: none;
      background-color: $color-white;
      color: rgba(0, 0, 0, 0.65);
      font-size: $font-size-default;
      border: $border-default-width $border-default-style $color-gray-light-2;
      border-radius: $border-radius-default;
      margin-bottom: 20px;

      &::placeholder {
        font-size: $font-size-default;
        color: $color-gray-light-2;
      }
    }

    &--input {

    }

    &--textarea {
      width: 100%;
    }

    &--label {
      margin-bottom: 8px;
    }
  }

  @include respond(phone) {
    width: 320px;
  }
}
