@import '../../index.scss';
.AddRequirement {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  justify-content: space-between;

  &__heading {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0,0,0,.45);
    margin: 0;
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;

    &--input,
    &--textarea {
      height: 22px;
      padding: 4px 11px;
      box-sizing: content-box;
      outline: none;
      background-color: $color-white;
      color: rgba(0, 0, 0, 0.65);
      font-size: $font-size-default;
      border: $border-default-width $border-default-style $color-gray-light-2;
      border-radius: $border-radius-default;
      margin-bottom: 20px;

      &::placeholder {
        font-size: $font-size-default;
        color: $color-gray-light-2;
      }
    }

    &--input {

    }

    &--textarea {
      max-width: 96%;
      width: 100%;
      resize: vertical;
      height: 50px;
    }

    &--label {
      margin-bottom: 8px;
      font-size: $font-size-default;
      color: rgba(0,0,0,0.85);
    }
  }

  &__button {
    background-color: $color-blud;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    color: $color-white;
    padding: 6.5px 15px;
    box-sizing: border-box;
    font-size: $font-size-big;
    transition: all .2s;
    border-radius: $border-radius-default;

    &:hover {
      background-color: rgba(24, 144, 255, 0.7);
    }

    &:active {
      background-color: $color-blud;
      transform: translateY(1px);
    }
  }

  @include respond(phone) {
    width: 320px;
  }
}
