@import '../../index.scss';
.AddRequirement {
  background-color: $color-gray;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  margin-bottom: 10px;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  @include respond(phone) {
    width: 320px;
  }
}
